# Should configuration files in database be overwritten?
useDatabase=false
overwriteDatabase=true

# Reload configuration every 30 seconds?
reloadConfiguration=60


# Logging with logback
logback.configurationFile=/Users/mlesniak/Documents/homepage/logback.xml

# Markdown
root=/Users/mlesniak/Documents/homepage/mlesniak.com/

# EMail configuration
username=<amazon ses username>
password=<amazon ses password>
to=mail@mlesniak.com
from=mail@mlesniak.com
#emailToken=


# Background jobs (using quartz)
jobs=com.mlesniak.homepage.EmailJob
EmailJob.cron=* * */4 * * ?
EmailJob.sendEmail=false
